---
---

@import 'layout/vars';
@import 'mixins';

@import 'layout/header';
@import 'layout/menu';

.l-body {
  box-shadow: 0 0 $l-body-box-shadow-blur $l-body-box-shadow-spread rgba(black, .05);

  @include breakpoint(laptop) {
    box-shadow: none;
  }
}

.l-body__bg {
  -webkit-border-bottom-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  -webkit-border-top-right-radius: $border-radius;
  border-top-right-radius: $border-radius;
  box-shadow: 0 0 $l-body-box-shadow-blur $l-body-box-shadow-spread rgba(black, .05);
}

@import 'layout/aside';
@import 'layout/footer';
