---
layout: default
title: Title
---

<p style="margin-top:0">Hello World!</p>

<p>A layout blatantly copied from smashingmagazine.com.</p>

<ul>
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>

{% include widgets/img.html src='test.jpg' %}
{% comment %}{% include widgets/img.html width='400' height='200' src='http://maps.googleapis.com/maps/api/staticmap?center=48.137246,11.575424&zoom=12&size=400x200&scale=2&style=feature:administrative.locality|element:labels|visibility:off&style=feature:poi|element:labels|visibility:off&style=feature:road|element:labels|visibility:off&style=feature:transit|visibility:off' %}{% endcomment %}
