@import 'vars.header';

.l-header-menu-checkbox {
  display: none;
}

.l-header {
  background-color: $l-header-background-color;
  height: $l-header-height;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.l-header-nav {
  background-color: $l-header-nav-background-color;
  height: $l-header-nav-height;
}

.l-header-nav ul {
  margin-bottom: 0;
  margin-top: 0;
}

.l-header-menu {
  display: none;
}
