{% assign pageurl = site.baseurl | append: page.url %}
{% assign homeurl = site.baseurl | append: '/' %}
{% assign abouturl = site.baseurl | append: '/about.html' %}

<input class="l-header-menu-checkbox" id="l-header-menu-checkbox" type="checkbox">

<header class="l-header">
  <label for="l-header-menu-checkbox">Menu</label>
  <{% if homeurl == pageurl %}h1{% else %}div{% endif %}>
    Header
  </{% if homeurl == pageurl %}h1{% else %}div{% endif %}>
</header>

<nav class="l-header-nav">
  <ul>
    <li{% if homeurl == pageurl %} class="is-active"{% endif %}>
      <a href="{{ homeurl }}">Home</a>
    </li>
    <li{% if abouturl == pageurl %} class="is-active"{% endif %}>
      <a href="{{ abouturl }}">About</a>
    </li>
  </ul>
</nav>

<nav class="l-header-menu">
  <ul>
    <li{% if homeurl == pageurl %} class="is-active"{% endif %}>
      <a href="{{ homeurl }}">Home</a>
    </li>
    <li{% if abouturl == pageurl %} class="is-active"{% endif %}>
      <a href="{{ abouturl }}">About</a>
    </li>
  </ul>
</nav>
