{% assign pageurl = site.baseurl | append: page.url %}
{% assign homeurl = site.baseurl | append: '/' %}
{% assign abouturl = site.baseurl | append: '/about.html' %}

<style>
  {% capture critical %}
    {% include header.scss %}
  {% endcapture %}
  {{ critical | scssify }}
</style>

<input type="checkbox">

<header class="l-header">
  Header
</header>

<nav class="l-header-nav">
  <ul>
    <li{% if homeurl == pageurl %} class="is-active"{% endif %}>
      <a href="{{ homeurl }}">Home</a>
    </li>
    <li{% if abouturl == pageurl %} class="is-active"{% endif %}>
      <a href="{{ abouturl }}">About</a>
    </li>
  </ul>
</nav>

<nav class="l-header-menu">
  <ul>
    <li{% if homeurl == pageurl %} class="is-active"{% endif %}>
      <a href="{{ homeurl }}">Home</a>
    </li>
    <li{% if abouturl == pageurl %} class="is-active"{% endif %}>
      <a href="{{ abouturl }}">About</a>
    </li>
  </ul>
</nav>
