@import 'vars';
@import 'layout/vars';
@import 'layout/vars.header';
@import 'layout/vars.menu';
@import 'layout/vars.aside';
@import 'mixins';

html {
  height: 100%;
}

body {
  background-color: $body-background-color;
  font-family: sans-serif;
  margin: 0;
  max-width: $body-max-width;
  min-height: 100%;
  position: relative;

  @include breakpoint(tablet) {
    padding-left: $base-width;
  }

  @include breakpoint(4k) {
    padding-left: 0;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.l-body {
  background-color: $l-body-background-color;
  clear: left;

  @include breakpoint(laptop) {
    background-color: transparent;
    margin-right: $l-aside-width;
    position: relative;
  }

  @include breakpoint(4k) {
    clear: none;
    float: left;
    margin-right: 0;
    width: 100% - $l-header-nav-width;
  }
}

.l-body::after {
  clear: left;
  content: '';
  display: block;
}

.l-body__bg {
  background-color: $l-body-background-color;
  -webkit-border-bottom-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  -webkit-border-top-right-radius: $border-radius;
  border-top-right-radius: $border-radius;
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;

  @include breakpoint(laptop) {
    display: block;
  }

  @include breakpoint(4k) {
    right: $l-aside-width;
    top: -($l-header-height-2 - $base-height);
  }
}

.l-content-wrapper {
  @include breakpoint(tablet) {
    float: left;
    width: 100% - $l-menu-width;
  }

  @include breakpoint(laptop) {
    margin-right: -$l-aside-width;
    width: 100%;
  }

  @include breakpoint(laptop-l) {
    width: 100% - $l-menu-width-2;
  }
}

.l-content {
  padding-left: $gutter-width;
  padding-right: $gutter-width;

  @include breakpoint(tablet) {
    padding-left: 11%;
  }

  @include breakpoint(laptop) {
    padding-left: $gutter-width;
  }

  @include breakpoint(4k) {
    margin-right: $l-aside-width;
  }
}
