@import 'vars';
@import 'layout/vars';
@import 'layout/vars.header';
@import 'mixins';

html {
  height: 100%;
}

body {
  background-color: $body-background-color;
  margin: 0;
  min-height: 100%;
  position: relative;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.l-body {
  background-color: $l-body-background-color;

  @include breakpoint(tablet) {
    margin-top: $l-header-height;
  }

  @include breakpoint(laptop) {
    margin-right: 400px; // @todo
  }
}

.l-content {
  @include breakpoint(laptop) {
    float: left;
    margin-right: -400px; // @todo
    width: 100%;
  }

  @include breakpoint(laptop-l) {
    clear: none;
  }
}
