@import 'vars';
@import 'layout/vars';
@import 'layout/vars.header';
@import 'layout/vars.menu';
@import 'layout/vars.aside';
@import 'mixins';

html {
  height: 100%;
}

body {
  background-color: $body-background-color;
  font-family: sans-serif;
  margin: 0;
  min-height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.l-body {
  max-width: $l-body-max-width - $l-aside-width;
  position: relative;

  @include breakpoint(laptop) {
    margin-right: $l-aside-width;
  }
}

.l-body::after {
  clear: left;
  content: '';
  display: block;
}

.l-body__bg {
  background-color: $l-body-background-color;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: $l-header-height;
  z-index: -1;

  @include breakpoint(tablet) {
    top: $l-header-height-2;
  }

  @include breakpoint(laptop) {
    -webkit-border-bottom-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    -webkit-border-top-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  @include breakpoint(4k) {
    left: $l-header-nav-width;
    top: $vertical-spacing-base;
  }
}

.l-content {
  @include breakpoint(tablet) {
    float: left;
    width: 100% - $l-menu-width;
  }

  @include breakpoint(laptop) {
    margin-right: -$l-aside-width;
    width: 100%;
  }

  @include breakpoint(laptop-l) {
    width: 100% - $l-menu-width-2;
  }

  @include breakpoint(4k) {
    width: 100% - ($l-header-nav-width + $l-menu-width-2);
  }
}
