{% if include.width and include.height %}
  {% assign hasDimensions = true %}
{% endif %}
{% assign src = include.src | prepend: site.data.widgets.img.path | prepend: '/' | prepend: site.baseurl %}
{% if site.data.widgets.img.cloudinary.url == site.url %}
  {% assign src = include.src | prepend: '/' | prepend: site.data.widgets.img.cloudinary.path | prepend: '/' | prepend: site.data.widgets.img.cloudinary.width | prepend: '/image/upload/w_' | prepend: site.data.widgets.img.cloudinary.account | prepend: 'http://res.cloudinary.com/' %}
{% endif %}{% comment %}
{% endcomment %}<figure class="js-w-img w-img{% if hasDimensions %} has-dimensions{% endif %}{% if include.class %} {{include.class}}{% endif %}">
  <noscript>
    <img src="{{ src | uri_escape }}" alt="{{ include.alt }}">
  </noscript>
  <img src="{% if include.data-src %}{{ include.data-src }}{% else %}data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=={% endif %}" alt="{{ include.alt }}" data-src="{{ src }}">{% if hasDimensions %}
  <canvas></canvas>
  <div style="padding-top:{{ 100.0 | times: include.height | divided_by: include.width }}%"></div>{% endif %}
</figure>
