@import 'vars.header';

.l-header {
}

.l-header-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
//   -webkit-transform: translateY(0);
//   transform: translateY(0);
  -webkit-transition: top .5s;
  transition: top .5s;
}

.l-header-menu-checkbox:checked ~ .l-header-nav {
  top: $l-header-height;
//   -webkit-transform: translateY($l-header-height);
//   transform: translateY($l-header-height);
}

.l-header-menu {
  background-color: red;
}
