@import 'vars.header';

.l-header {
}

.l-header-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transition: top $animation-duration;
  transition: top $animation-duration;
  z-index: 2;
}

.l-header-menu-checkbox:checked ~ .l-header-nav {
  top: $l-header-height;
}

.l-header-menu {
  background-color: red;
  bottom: 100%;
  display: block;
  left: 0;
  opacity: 0;
  padding-top: $l-header-height + $l-header-nav-height;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: bottom $animation-duration, opacity $animation-duration;
  transition: bottom $animation-duration, opacity $animation-duration;
  z-index: 1;
}

.l-header-menu-checkbox:checked ~ .l-header-menu {
  bottom: 0;
  opacity: 1;
}
