@import 'layout/vars';
@import 'mixins';

@import 'layout/header';
@import 'layout/menu';

body {
  background-image: url(../assets/img/bg.gif);
}

.l-body__bg::before {
  box-shadow: 0 0 $l-body-box-shadow-blur $l-body-box-shadow-spread rgba(black, .05);

  @include breakpoint(laptop) {
    -webkit-border-bottom-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    -webkit-border-top-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  @include breakpoint(4k) {
    -webkit-border-bottom-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
}

@import 'layout/aside';
@import 'layout/footer';
