@import 'vars';

.w-img {
  background-color: $body-background-color;
  position: relative;
}

.w-img img {
  display: block;
  width: 100%;
}

.w-img.has-dimensions img {
  position: absolute;
}

.w-img canvas {
  position: absolute;
  width: 100%;
}

.w-img.is-loaded canvas {
  display: none;
}
