@import 'layout/vars.header';
@import 'mixins';

.l-header-menu-checkbox {
  display: none;
}

.l-header {
  background-color: $l-header-background-color;
  height: $l-header-height;
  margin-bottom: -$l-header-height;
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.l-header-proxy {
  height: $l-header-height;
}

.l-header__logo {
  left: 50%;
  margin-bottom: 0;
  margin-top: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.l-header-nav {
  background-color: $l-header-nav-background-color;
  height: $l-header-nav-height;
}

.l-header-nav ul {
  height: 100%;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  padding-left: $horizontal-spacing-base;
  padding-right: $horizontal-spacing-base;
}

.l-header-nav li {
  float: left;
  height: 100%;
}

.l-header-nav a {
  display: block;
  height: 100%;
  line-height: $l-header-nav-height;
  padding-left: $horizontal-spacing-base;
  padding-right: $horizontal-spacing-base;
  text-decoration: none;
}

.l-header-menu-backdrop {
  display: none;
}

.l-header-menu {
  display: none;
}
