@import 'layout/vars.header';
@import 'layout/vars.menu';
@import 'layout/vars.aside';
@import 'mixins';

.l-header-menu-checkbox {
  display: none;
}

.l-header {
  background-color: $l-header-background-color;
  height: $l-header-height;
  left: 0;
  margin-bottom: -$l-header-height;
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: 0;
  z-index: $l-header-z-index + 2;

  @include breakpoint(tablet) {
    float: left;
    height: $l-header-height-2;
    margin-bottom: 0;
    width: $l-menu-width;
    position: relative;
  }

  @include breakpoint(laptop) {
    padding-left: $base-width * 2;
    padding-right: $base-width * 2;
    width: auto;
  }

  @include breakpoint(laptop-l) {
    float: none;
    height: 0;
    margin-right: $l-aside-width;
    padding-left: 0;
    padding-right: 0;
  }

  @include breakpoint(4k) {
    float: left;
    height: $l-header-height-2;
    margin-right: 0;
    margin-top: $base-height;
    width: $l-header-nav-width;
  }
}

// no-sticky
.l-header {
  // position: fixed;
}

.l-header__logo {
  left: 50%;
  margin-bottom: 0;
  margin-top: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  @include breakpoint(laptop) {
    position: relative;
  }

  @include breakpoint(laptop-l) {
    background-color: $l-header-background-color;
    float: left;
    height: $l-header-height-2;
    left: 0;
    top: 0;
    -webkit-transform: none;
    transform: none;
    width: $l-menu-width-2;
  }

  @include breakpoint(4k) {
    float: none;
    width: auto;
  }
}

.l-header__logo a {
  @include breakpoint(laptop-l) {
    left: 50%;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.l-header__menu {
  float: left;
  height: 100%;
  padding-left: $gutter-width;
  padding-right: $gutter-width;

  @include breakpoint(tablet) {
    display: none;
  }
}

.l-header__menu i {
  display: block;
  height: 17px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 17px;
}

.l-header__menu i {
  &::before,
  &::after {
    background-color: black;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.l-header__menu i::before {
  top: 3px;
}

.l-header__menu i::after {
  top: 13px;
}

.l-header-proxy {
  height: $l-header-height;

  @include breakpoint(tablet) {
    display: none;
  }
}

.l-header-nav {
  background-color: $l-header-nav-background-color;
  height: $l-header-nav-height;
  margin-bottom: -$l-header-nav-height;

  @include breakpoint(tablet) {
    background-color: transparent;
    float: left;
    height: $l-header-height-2;
    margin-bottom: 0;
  }

  @include breakpoint(4k) {
    clear: left;
    height: auto;
    width: $l-header-nav-width;
  }
}

.l-header-nav ul {
  height: 100%;
  overflow: hidden;
  padding-left: $gutter-width;
  padding-right: $gutter-width;

  @include breakpoint(tablet) {
    padding-left: 0;
    padding-right: 0;
  }
}

.l-header-nav li {
  float: left;
  height: 100%;

  @include breakpoint(tablet) {
    border-right: 1px solid rgba(black, .05);
  }

  @include breakpoint(4k) {
    border-bottom: 1px solid rgba(black, .05);
    border-right: 0;
    float: none;
  }
}

.l-header-nav li:first-child {
  margin-left: -$base-width;

  @include breakpoint(tablet) {
    border-left: 1px solid rgba(black, .05);
    margin-left: 0;
  }

  @include breakpoint(4k) {
    border-left: 0;
    border-top: 1px solid rgba(black, .05);
  }
}

.l-header-nav a {
  color: rgba(black, .25);
  display: block;
  height: 100%;
  line-height: $l-header-nav-height;
  padding-left: $base-width;
  padding-right: $base-width;
  text-decoration: none;

  @include breakpoint(tablet) {
    height: ($base-height * 4) - 1px;
    line-height: $base-height * 2;
    padding-left: $base-width * 1.5;
    padding-right: $base-width * 1.5;
    padding-top: $l-header-height-2 - ($base-height * 4);
  }

  @include breakpoint(4k) {
    height: auto;
    margin-right: 1px;
    padding-bottom: ($base-height * 2) - 1px;
    padding-left: $base-width * 2.5;
    padding-top: $base-height * 2;
  }
}

.l-header-nav li:first-child a {
  @include breakpoint(4k) {
    padding-top: ($base-height * 2) - 1px;
  }
}

.l-header-nav-proxy {
  height: $l-header-nav-height;

  @include breakpoint(tablet) {
    display: none;
  }
}
