@import 'layout/vars.header';
@import 'layout/vars.aside';
@import 'mixins';

.l-header-menu-checkbox {
  display: none;
}

.l-header {
  background-color: $l-header-background-color;
  height: $l-header-height;
  left: 0;
  margin-bottom: -$l-header-height;
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 3;

  @include breakpoint(tablet) {
    float: left;
    margin-bottom: 0;
    position: relative;
  }
}

// no-sticky
.l-header {
//   position: fixed;
}

.l-header-proxy {
  height: $l-header-height;

  @include breakpoint(tablet) {
    display: none;
  }
}

.l-header__logo {
  left: 50%;
  margin-bottom: 0;
  margin-top: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  @include breakpoint(tablet) {
    position: relative;
  }
}

.l-header__menu {
  float: left;
  height: 100%;
  padding-left: $horizontal-spacing-base * 2;
  padding-right: $horizontal-spacing-base * 2;

  @include breakpoint(tablet) {
    display: none;
  }
}

.l-header__menu i {
  display: block;
  height: 17px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 17px;
}

.l-header__menu i {
  &::before,
  &::after {
    background-color: red;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.l-header__menu i::before {
  top: 3px;
}

.l-header__menu i::after {
  top: 13px;
}

.l-header-nav {
  background-color: $l-header-nav-background-color;
  height: $l-header-nav-height;
  margin-bottom: -$l-header-nav-height;

  @include breakpoint(tablet) {
    background-color: transparent;
    float: left;
    height: $l-header-height;
    margin-bottom: 0;
  }
}

.l-header-nav ul {
  height: 100%;
  overflow: hidden;
  padding-left: $horizontal-spacing-base;
  padding-right: $horizontal-spacing-base;
}

.l-header-nav li {
  float: left;
  height: 100%;
}

.l-header-nav a {
  display: block;
  height: 100%;
  line-height: $l-header-nav-height;
  padding-left: $horizontal-spacing-base;
  padding-right: $horizontal-spacing-base;
  text-decoration: none;

  @include breakpoint(tablet) {
    line-height: $l-header-height;
  }
}

.l-header-nav-proxy {
  height: $l-header-nav-height;

  @include breakpoint(tablet) {
    display: none;
  }
}

.l-header-menu-backdrop {
  display: none;
}

.l-header-menu {
  display: none;
  text-align: center;

  // @include breakpoint(tablet) {
  //   clear: left;
  //   display: block;
  //   float: left;
  // }
  //
  // @include breakpoint(laptop) {
  //   float: none;
  //   margin-right: $l-aside-width;
  // }
  //
  // @include breakpoint(laptop-l) {
  //   float: left;
  //   margin-right: 0;
  // }
}

.l-header-menu ul {
  text-align: left;

  @include breakpoint(laptop) {
    display: inline-block;
    overflow: hidden;
  }

  @include breakpoint(laptop-l) {
    display: block;
  }
}

.l-header-menu li {
  @include breakpoint(laptop) {
    float: left;
  }

  @include breakpoint(laptop-l) {
    float: none;
  }
}
