{% assign pageurl = page.url | relative_url %}{% comment %}
{% endcomment %}{% assign homeurl = site.baseurl | append: '/' %}{% comment %}
{% endcomment %}{% assign abouturl = 'about.html' | relative_url %}{% comment %}
{% endcomment %}{% assign contacturl = 'contact.html' | relative_url %}{% comment %}

{% endcomment %}<div class="l-menu-backdrop"></div>

<nav class="l-menu">
  <ul>
    <li{% if homeurl == pageurl %} class="is-active"{% endif %}>
      <a href="{{ homeurl }}">Home</a>
      <ul>
        <li>
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
      </ul>
    </li>
    <li{% if abouturl == pageurl %} class="is-active"{% endif %}>
      <a href="{{ abouturl }}">About</a>
      <ul>
        <li>
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
      </ul>
    </li>
    <li{% if contacturl == pageurl %} class="is-active"{% endif %}>
      <a href="{{ contacturl }}">Contact</a>
      <ul>
        <li>
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
