<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <style>
            {% capture critical %}
              {% include css/layouts/layout.scss %}
            {% endcapture %}
            {{ critical | scssify }}
        </style>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/layout.css?{{site.time | date: '%s'}}">
    </head>
    <body>
        <div class="l-body">
            {% include header.html %}
            <main class="l-content">
                {{ content }}
            </main>
        </div>
        {% include footer.html %}
    </body>
</html>
