@import 'vars.aside';
@import '../mixins';

.l-aside-wrapper {
  display: none;

  @include breakpoint(laptop) {
    clear: none;
    display: block;
    float: right;
    left: $l-aside-width;
    position: relative;
    width: $l-aside-width;
  }
}

.l-aside {
  width: $l-aside-width - ($base-width * 3);
  padding-left: $base-width * 2;
}
