@import 'vars.aside';
@import '../mixins';

.l-aside {
  @include breakpoint(laptop) {
    clear: none;
    float: right;
    left: $l-aside-width;
    position: relative;
    width: $l-aside-width;
  }

  @include breakpoint(4k) {
    left: 0;
    position: static;
  }
}
