@import '../vars';
@import 'vars.header';
@import 'vars.menu';
@import 'vars.aside';

.l-footer-wrapper-2 {
  @include breakpoint(tablet) {
    margin-left: 20%;
  }

  @include breakpoint(laptop) {
    margin-left: 0;
    margin-right: $l-aside-width;
  }

  @include breakpoint(4k) {
    margin-left: $l-header-nav-width;
  }
}

.l-footer-wrapper {
  @include breakpoint(laptop-l) {
    margin-left: $l-menu-width-2;
  }
}

.l-footer {
  padding-bottom: $base-height * 2;
  padding-left: $gutter-width;
  padding-right: $gutter-width;
  padding-top: $base-height * 2;

  @include breakpoint(tablet) {
    padding-left: 11%;
  }

  @include breakpoint(laptop) {
    padding-left: $gutter-width;
  }

  @include breakpoint(4k) {

  }

  @include breakpoint(1600px) {
    padding-left: 11%;
    padding-right: 11%;
  }
}
