@import '../vars';

$l-header-background-color: white;
$l-header-height: $vertical-spacing-base * 6;
$l-header-height-2: $l-header-height + ($vertical-spacing-base * 3);
$l-header-nav-background-color: $l-header-background-color;
$l-header-nav-height: $vertical-spacing-base * 5;
$l-header-nav-width: 10%;
